/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;



ol,
ul {
  list-style: none;
}

li {
  display: inline-block;
  padding: 20px 0 20px;
}

html{  
  scroll-behavior: smooth;
}